<!DOCTYPE html>
<html>
<head>
  <title>Practice1</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<section id="content"></section>

<input id="new_rare_name">name
<input id="new_rare_family">family
<input id="new_longitude">longitude
<input id="new_latitude">latitude


<button id="submit_button">submit a new bug spotting</button>

</body>
</html>
